<header [ngClass]="{'darkened': darkened}">
  <div class="mobile-menu-overlay" [class.active]="isMenuOpen" (click)="toggleMenu()"></div>
  <div class="header-container">
    <div class="logo">
      <img src="assets/logo.svg" alt="Logo" class="logo-image" routerLink="/">
    </div>

    <button class="hamburger" (click)="toggleMenu()" [class.active]="isMenuOpen">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <div class="nav-buttons" [class.mobile-menu-open]="isMenuOpen">
      <button class="close-menu" (click)="toggleMenu()" *ngIf="isMobile">
        <i class="fas fa-times"></i>
      </button>
      
      <ng-container *ngIf="!isLoggedIn">
        <button class="login-btn" (click)="navigateToLogin()">
          <i class="fas fa-sign-in-alt"></i> Login
        </button>
        <button class="register-btn" (click)="navigateToRegister()">
          <i class="fas fa-user-plus"></i> Register
        </button>
        <button class="feedback-btn" (click)="navigateToFeedback()">
          <i class="fas fa-comment"></i> Feedback
        </button>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <button class="characters-btn" (click)="navigateToCharacters()">
          <i class="fas fa-users"></i> Characters
        </button>
        <button class="team-requests-btn" (click)="navigateToTeamSee()">
          <i class="fas fa-list"></i> Team Requests
        </button>
        <button class="feedback-btn" (click)="navigateToFeedback()">
          <i class="fas fa-comment"></i> Feedback
        </button>
      </ng-container>
    </div>
  </div>
</header>

