<header [ngClass]="{'darkened': darkened}">
  <div class="header-container">
    <div class="logo">
      <img src="assets/logo.svg" alt="Logo" class="logo-image" routerLink="/">
    </div>
    <div class="nav-buttons">
      <ng-container *ngIf="!isLoggedIn">
        <button class="login-btn" (click)="navigateToLogin()">Login</button>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <button class="characters-btn" (click)="navigateToCharacters()">Characters</button>
      </ng-container>
    </div>
  </div>
</header>
