<header [ngClass]="{'darkened': darkened}">
  <div class="header-container">
    <div class="logo">
      <img src="assets/logo.svg" alt="Logo" class="logo-image" routerLink="/">
    </div>
    <div class="nav-buttons">
      <ng-container *ngIf="!isLoggedIn">
        <button class="login-btn" (click)="navigateToLogin()">
          <i class="fas fa-sign-in-alt"></i> Login
        </button>
        <button class="register-btn" (click)="navigateToRegister()">
          <i class="fas fa-user-plus"></i> Register
        </button>
        <button class="feedback-btn" (click)="navigateToFeedback()">
          <i class="fas fa-comment"></i> Feedback
        </button>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <button class="characters-btn" (click)="navigateToCharacters()">
          <i class="fas fa-users"></i> Characters
        </button>
        <button class="team-requests-btn" (click)="navigateToTeamSee()">
          <i class="fas fa-list"></i> Team Requests
        </button>
        <button class="feedback-btn" (click)="navigateToFeedback()">
          <i class="fas fa-comment"></i> Feedback
        </button>
      </ng-container>
    </div>
  </div>
</header>

