<ng-container *ngIf="authStateConfirmed; else loading">
  <div [style.visibility]="authStateConfirmed ? 'visible' : 'hidden'">
    <app-profile-button *ngIf="isLoggedIn$ | async"></app-profile-button>
    <router-outlet></router-outlet>
    <app-welcome-animation 
      [isActive]="(showAnimation$ | async) ?? false"
    ></app-welcome-animation>
  </div>
</ng-container>

<ng-template #loading>
  <div class="loading-overlay">
    <!-- You can add a loading spinner or animation here -->
    <img src="assets/logo.png" alt="Loading..." class="spinning-logo">
    
  </div>
</ng-template>